[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]
pydantic = "*"
requests = "*"
pymongo = "*"
regex = "*"

[requires]
python_version = "3.8"
